---
layout: default
---

<article class="about">

  <header class="about-header">
    <h1 class="about-title">{{ page.title | escape }}</h1>
  </header>

  <div class="about-content">
    <!-- <img src="../assets/images/patrick3col.jpg" alt="Patrick Skrine"> -->
    <img id="about-img" src="../assets/images/patrick-about.JPG" alt="Patrick Skrine">

    <p><strong>My name is Patrick Skrine. I'm 19 years of age from Oak Park, Illinois, a suburb just west of Chicago. I'm a 2016 graduate of Oak Park River Forest High School, where I played basketball and football.</strong></p>

    <p>I am enthusiastic about the versatile field of communication, from sports media coverage, to sports management, to public relations, to marketing, to teaching.</p>

    <p>This is my platform to write about and discuss my three favorite leagues in sports: the NHL, the NBA and College Basketball.</p>

    <p>While covering basketball and hockey will be the driving force in my website, expressing my various thoughts and illustrating who I am will be part of the product.</p>

    <p>I attended Holy Cross College at Notre Dame first semester of college. There, I gained my first writing experience at the University of Notre Dame, contributing for their paper as a sports reporter.</p>

     <p>I'm currently a sophomore at Triton College and will transfer to a four-year university next year as a Communications major.</p>

    <p>I now serve as a sports intern for the Wednesday Journal, a local publisher based in my hometown of Oak Park. Marty Farmer, the sports editor at the Journal, has been an exceptional mentor, allowing me to get my foot in the door with real-world experience in sports journalism.</p>

    <p>I also coach youth basketball and train clients one-on-one, which has helped me discover my interest in coaching.</p>

    <p>I have seen many cool places and have encountered some very special people; my goal is to create more opportunities for myself and others, and to experience more of this unique world. I want to connect with others who have similar passions.</p>

    <p>Live. Laugh. Love. </p>
  </div>

</article>
