---
layout: default
---

<article class="about">

  <header class="about-header">
    <h1 class="about-title">{{ page.title | escape }}</h1>
  </header>

  <div class="about-content">
    <!-- <img src="../assets/images/patrick3col.jpg" alt="Patrick Skrine"> -->
    <div class="about-img-wrap">
      <img id="about-img" src="../assets/images/patrick-about-2.jpg" alt="Patrick Skrine">
    </div>

    <div class="about-text">

      <p><strong>My name is Patrick Skrine. I’m from Oak Park, Illinois and an OPRF graduate, where I played basketball and football. </strong></p>

      <p>I am a communications major, hopeful to pursue a career in public relations, sports marketing, or possibly the teaching/coaching path. Communications is very versatile and can open many different doors. I’m most looking forward to developing my skills in the sports media world.</p>

      <p>I am currently a sophomore at Triton College, but I will be transferring to a four-year university in the fall. I have contributed to two publications as a sports journalist: Notre Dame’s The Observer and the Oak Park Wednesday Journal, where I’m currently at.</p>

      <p>The highlight of my experience as a reporter for the Wednesday Journal was my night in the NBA. I attended the Cleveland Cavaliers-Chicago Bulls game on Dec. 4, 2017 at the United Center. I observed the game from the press box, listened in on press conferences and conducted a 1-on-1 interview with Cavs G/F Kyle Korver.</p>

      <p>Basketball has been my ultimate passion in sports. While I still have plans to continue my playing career, I have helped coach several different teams, I have volunteered at camps, and I train clients 1-on-1. Working with kids on and off the court has solidified my interest in being a teacher and coach.</p>

      <p>Follow me here as I discuss all things sports and beyond. The experiences I’ve had and the people I’ve met have made my journey special so far.</p>

      <p>Be kind, be grateful, laugh often and enjoy the ride.</p>

    </div>
  </div>

</article>
