---
layout: default
---

<article class="about">

  <header class="about-header">
    <h1 class="about-title">{{ page.title | escape }}</h1>
  </header>

  <div class="about-content">
    <div class="about-img-wrap">
      <img id="about-img" src="../assets/images/patrick-about-3.jpg" alt="Patrick Skrine">
    </div>

    <div class="about-text">

      <p><strong>Hi my name is Patrick Skrine.</strong> I’m a communications major with a fierce passion for sports, mainly basketball and hockey. Aside from watching and playing sports, I’ve found writing to be a pleasant way to express my love for hoops, puck, and all things beyond.</p>

      <p>Already having experience in sports journalism and coaching basketball, I’m excited about the opportunities to come.
        The journey has been a great one so far. I’ve met special people, seen amazing places, and have learned countless
        lessons. Thanks for visiting my site and reading my words!</p>

      <p>“It’s chaos. Be kind.” — Michelle McNamara</p>

    </div>
  </div>

</article>