---
layout: default
---
<article class="additional">

  <header class="additional-header">
    <h1 class="additional-title">{{ page.title | escape }}</h1>
  </header>

  <div class="additional-content">
    <ul class="additional-stories-list">
      <p>Below are some stories I've written for various publications, including the Wednesday Journal, Notre Dame's The Observer, and my <a target="_blank" href="https://medium.com/@patrickskrine">Medium</a>.</p>
      <li class="additional-stories-item">
        <a target="_blank" href="http://mobile.oakpark.com/News/Articles/2-16-2017/Friars-hold-off-scrappy-Ramblers-in-CCL-semis/"><h3>Friars hold off scrappy Ramblers in CCL semis</h3></a>
      </li>

      <li class="additional-stories-item">
        <a target="_blank" href="http://mobile.oakpark.com/News/Articles/2-23-2017/OPRF-edges-Downers-South-for-outright-conference-title/"><h3>OPRF edges Downers South for outright conference title</h3></a>
      </li>

      <li class="additional-stories-item">
        <a target="_blank" href="http://ndsmcobserver.com/2016/11/anderson-scholarship-hard-work/"><h3>Josh Anderson earns scholarship through hard work</h3></a>
      </li>

      <li class="additional-stories-item">
        <a target="_blank" href="http://mobile.oakpark.com/News/Articles/3-8-2017/Huskies-shock-Curie-in-overtime-thriller-of-sectional-semifinal/?utm_source=TwitterShare&utm_medium=TwitterShare&utm_campaign=TwiterShare"><h3>Huskies shock Curie in overtime thriller of sectional semifinal</h3></a>
      </li>

      <li class="additional-stories-item">
        <a target="_blank" href="http://mobile.oakpark.com/News/Articles/3-11-2017/OPRF-falls-to-Whitney-Young-in-4A-sectional-final/"><h3>OPRF falls to Whitney Young in 4A sectional final</h3></a>
      </li>

      <li class="additional-stories-item">
        <a target="_blank" href="http://mobile.oakpark.com/News/Articles/6-13-2017/Nelson-fueled-by-championship-mentality/"><h3>Nelson fueled by championship mentality</h3></a>
      </li>

      <li class="additional-stories-item">
        <a target="_blank" href="http://mobile.oakpark.com/News/Articles/6-27-2017/Gomez-gets-defensive-about-his-game/"><h3>Gomez gets defensive about his game</h3></a>
      </li>

      <li class="additional-stories-item">
        <a target="_blank" href="http://mobile.oakpark.com/News/Articles/6-20-2017/Windmills-build-foundation--with-familiar-faces/"><h3>Windmills build foundation with familiar faces</h3></a>
      </li>

      <li class="additional-stories-item">
        <a target="_blank" href="http://mobile.oakpark.com/News/Articles/7-11-2017/No-place-like-Oak-Park-for-Shumpert/"><h3>No place like Oak Park for Shumpert</h3></a>
      </li>

      <li class="additional-stories-item">
        <a target="_blank" href="http://mobile.oakpark.com/News/Articles/7-18-2017/Winning-is-a-process-for-OPRF-hoops/"><h3>Winning is a process for OPRF hoops</h3></a>
      </li>

      <li class="additional-stories-item">
        <a target="_blank" href="http://mobile.oakpark.com/News/Articles/8-22-2017/Huskies-reload-with-new-faces/"><h3>Huskies reload with new faces</h3></a>
      </li>

      <li class="additional-stories-item">
        <a target="_blank" href="http://mobile.oakpark.com/News/Articles/9-3-2017/Huskies-hockey-to-host-Ridgeland-Crosstown-Classic/"><h3>Huskies hockey to host Ridgeland Crosstown Classic</h3></a>
      </li>

    </ul>
  </div>

</article>
